body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #616971;
  margin: 0;
}
/*Navigation*/
.logo img {
  margin: 1rem 1rem 1rem 7rem;
}
.logo-name {
  position: relative;
  top: -2rem;
  color: black !important;
}
nav a {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: black;
}
nav a:visited {
  color: black;
}
nav a:hover,
nav a:active {
  color: blue;
}

.nav-list {
  display: inline;
}
ul {
  list-style-type: none;
  font-size: 1.25rem;
  font-weight: 500;
  display: inline-flex;
  float: right;
  margin-right: 6rem;
}

li {
  margin: 0.7rem 1.5rem;
}

/*Services*/
.services {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}
.services h2 {
  text-transform: uppercase;
  text-align: center;
}

/*About Me*/
#aboutMe {
  width: 90vw;
  height: 12rem;
  margin: 5rem auto;
}
#aboutMe h1 {
  text-transform: uppercase;
  text-align: center;
}
#aboutMe p {
  text-align: center;
  font-size: 1.3rem;
}

/*Skills*/
#skills {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
  text-align: center;
}

/*Projects*/
#projects h2 {
  left: 38rem;
}
#projects p {
  left: 20rem;
}
#projects h2,
#projects p {
  display: inline-block;
  text-align: center;
  position: relative;
}

#projects img {
  display: inline-block;
  position: relative;
  left: 25vw;
}
.project-text {
  max-width: 40rem;
}
.margin-top {
  margin-top: 4rem;
}

/*Contact Me*/
#contactMe {
  margin-top: 8rem;
  background-color: #e9e3e3;
  padding: 1.5rem 5rem;
}
#contactMe h3 {
  display: inline-block;
  font-size: 1.2rem;
}

button {
  color: white;
  background-color: blue;
  font-size: 1.2rem;
  float: right;
  margin: 1rem 5rem;
  border: 0.1rem solid #03070a;
  text-shadow: 0.1rem 0.1rem rgba(39, 10, 10, 0.2);
}

/*Footer*/
footer {
  width: 100;
  height: 10rem;
  background-color: #1f2020;
}

footer span {
  margin: 2rem auto;
}
